html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(to bottom, lightblue 33%, blue, red 100%);
}

#myName {
    font-size: 5em; /* Adjust the size as needed */
    font-weight: bold;
    color: white; /* Change the text color */
    text-align: center; /* Center the text */
    margin-top: 0;
    padding-top: 1em; /* Adjust the padding as needed */
}

#linkIcons {
    text-align: right; /* Center the icons */
    margin-top: 1em; /* Adjust the margin as needed */
    padding: 1rem; /* Adjust the padding as needed */
    
}

#navBar {
    font-size: 20px; /* Adjust the font size as needed */
    text-align: center; /* Center the text */
    padding: 1px; /* Adjust the padding as needed */
    color: white;
    
}

#navBar a {
    color: white;
    text-decoration: none;
    margin: 5px; /* Adjust the margin as needed */
}

